[submodule "themes/learn"]
	path = themes/learn
	url = git@github.com:matcornic/hugo-theme-learn.git
[submodule "excision-mail.github.io"]
	path = excision-mail.github.io
	url = git@github.com:Excision-Mail/excision-mail.github.io
[submodule "themes/hugo-chart"]
	path = themes/hugo-chart
	url = https://github.com/Shen-Yu/hugo-chart.git
[submodule "themes/hugo-highcharts"]
	path = themes/hugo-highcharts
	url = https://github.com/cmlnet/hugo-highcharts.git
